@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');
            
body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #169B62 33%, #FFFFFF 33%, #FFFFFF 66%, #FF883E 66%);
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    color: white;
}

header {
    background-color: #061d01;
    color: rgba(63, 58, 58, 0);
    padding: 20px;
    font-size: 24px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.image-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.452);
}

.image-container:hover {
    cursor: pointer;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.image-container p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #2c3e50;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}